.Pocetna{
    background-color: grey;
}

#lijeviDiv{
    width: 45%;
    float: left;
}
#desniDiv{
    width: 45%;
    float: right;
}
.tekst{
    font-size: large;
    font-weight: bold;
    color: white;
}