.datumOcjena{
    width: 100%;
}
#instruktorKartica{
    margin:auto;
    margin-top: 2%;
}
.profilnaSlika{
    width: 200px;
    height: 200px;
}
#instruktorInfo{
    text-align: left;
}
#ocjena{
    font-weight: bold;
    font-size: xxx-large;
}
.ocjene{
    width: 100%;
}
.modal {
    width: 250px;
    height: 250px;
}
